.rules-page{
    width: 100%;
    min-height: calc(100vh - 4.4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.rules-container{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
    padding:1rem;
}

.rules-container h1{
    color:var(--primary);
}

.rules-list{
    text-align: left;
}

.rules-list li{
    font-size: 1.3rem;
    margin: 1rem;
    font-weight: 400;
}

.quiz-info{
    display: flex;
    justify-content: space-evenly;
}

@media (min-width:700px){
    .rules-container{
        width: 40rem;
        min-height: 30rem;
    }
}